{%extends 'base2.html' %}

{% load static %}

{%block titulo %} Nosotros {% endblock titulo%}

 {% block contenido %}
   
 <head>
    <style>
       

        .xd {
            max-width: auto;
            margin: 0 auto;
            padding: 40px;
            background-color: #adadad;
            border-radius: 5px;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
        }
        .pd {
            color: #555;
            line-height: 1.6;
           
        }
    </style>
</head>

   <!-- Page Header-->
   <header class="masthead" style="background-image: url('static/image/about-Grupo10.jpg')">
    
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>Nosotros</h1>
                    <span class="subheading">Grupo-10 unidos para Crecer</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="xd">
                    <h1>Grupo 10:  Unidos para Lograr Nuestros Objetivos</h1>
                    <p class=".pd">
                        En el corazón de nuestro grupo, se encuentra la fuerza de la unidad y la colaboración. Somos el Grupo 10,
                        un equipo integrado por Mariano, Walter, Jorge, Nicolás y Franco, estudiantes del Informatorio 2023. Este
                        curso de Python nos ha brindado la oportunidad de trabajar juntos en un proyecto de creación de un blog con
                        noticias.
                       </p>
                    <p class=".pd"> 
                        Estamos entusiasmados con el aprendizaje que estamos obteniendo y el progreso que hemos logrado hasta
                        ahora. Destacamos que trabajar en equipo ha sido fundamental para alcanzar nuestros objetivos de manera más
                        efectiva. Al unir nuestras fortalezas individuales, hemos podido abordar los desafíos del curso y del
                        proyecto de manera más sólida y creativa.
                      </p>
                    <p class=".pd"> 
                        La confianza es el cimiento sobre el cual construimos nuestro grupo. Nos apoyamos mutuamente en cada paso del camino, brindando un ambiente seguro y motivador para expresar nuestras ideas y opiniones. Celebramos los éxitos colectivamente y encontramos lecciones valiosas en los desafíos que enfrentamos. En cada obstáculo, nos convertimos en un escudo de apoyo, impulsándonos unos a otros hacia adelante con un espíritu de resiliencia y determinación. 
                    </p>
                    <p class=".pd">
                        Valoramos el apoyo constante de nuestros profesores, mentores y ayudantes en el Informatorio 2023. Han sido
                        una guía invaluable en nuestro camino de aprendizaje, acompañándonos en el desarrollo de páginas web con
                        Python, Django y MySQL. Su dedicación y conocimientos nos han permitido crecer y aprender juntos, y nos han
                        brindado las herramientas necesarias para enfrentar los desafíos técnicos y conceptuales del proyecto del
                        blog.
                    </p >
                    <p class=".pd">
                        No solo nos enfocamos en el logro de metas individuales, sino que también nos preocupamos por el crecimiento y el desarrollo de cada miembro del equipo. Compartimos conocimientos, aprendemos juntos y brindamos el apoyo necesario para fomentar un ambiente de aprendizaje continuo. Valoramos el tiempo que invertimos en el fortalecimiento de nuestras habilidades, ya que creemos que el crecimiento personal contribuye directamente al éxito colectivo.
                    </p>
                    <p class=".pd">
                        Estamos emocionados por lo que vendrá en nuestro camino como equipo y como estudiantes del Informatorio
                        2023. Seguiremos trabajando en conjunto, apoyándonos mutuamente y aprovechando al máximo esta valiosa
                        experiencia de aprendizaje colaborativo.
                     </p>
                    
            
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock contenido %}
